CompileFlags:
  Compiler: C:/msys64/mingw64/bin/g++.exe
  Add:
    - "-std=c++17"
    - "--target=x86_64-w64-mingw32"
    - "-IC:/msys64/mingw64/include/c++/16.1.0"
    - "-IC:/msys64/mingw64/include/c++/16.1.0/x86_64-w64-mingw32"
    - "-IC:/msys64/mingw64/include"
    - "-IC:/msys64/mingw64/x86_64-w64-mingw32/include"
